.header {
  &-secondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &-search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: center;

    ul {
      display: flex;
      gap: 16px;

      li:first-child {
        color: $brand-primary;
      }

      i[class*='fa-'] {
        font-size: 24px;
      }
    }
  }

  &-contact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    ul {
      display: flex;
      gap: 16px;
      align-items: center;
      font-weight: 300;

      i[class*='fa-'] {
        margin-right: 16px;
        color: $brand-primary;
        font-size: 24px;
      }

      li:last-child {
        font-size: 17px;
        margin-top: 3px;
      }
    }
  }

  &-controls {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;

    ul {
      i[class*='fa-'] {
        font-size: 24px;
      }

      .cart-quantity {
        height: 16px;
        padding: 0 4px;
        background: $brand-primary;
        border-radius: 30px;
        position: absolute;
        top: -6px;
        right: -6px;
        color: $white;
        font-size: 12px;
      }
    }
  }

  &-logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    justify-self: center;

    img {
      max-width: 128px;
    }

    @include media-breakpoint-up(lg) {
      grid-row: 2 / 3;
    }
  }

  &-primary {
    .nav-primary {
      ul {
        display: flex;
        gap: 16px;
        justify-content: center;
      }

      a {
        display: block;
        padding: 8px 16px;
        font-weight: 300;
        line-height: 24px;
        font-size: 20px;
        text-transform: uppercase;
        border-radius: 24px;
        transition: color 0.2s linear, background-color 0.4s ease-in-out;

        &:hover {
          background: $brand-primary;
          color: $white;
        }
      }
    }

    .nav-secondary {
      ul {
        display: flex;
        gap: 16px;
        justify-content: center;
      }

      a {
        display: block;
        padding: 3px 6px;
        font-weight: 300;
        line-height: 18px;
        font-size: 16px;
        border-radius: 24px;
        text-transform: uppercase;
        transition: color 0.2s linear, background-color 0.4s ease-in-out;

        &:hover {
          background: $brand-primary;
          color: $white;
        }
      }
    }
  }
}
